div{
    height: 100px;
    width: 100px;
}
/* 
Static é o posicionamento padrão
Relative não altera os outros elementos da página, seu espaço fica como reservado
fixed - fixado na pagina
z-index: controla a sobreposiçao
*/

#div1 {
    background-color: blue;
    z-index: 1;
}

#div2 {
    background-color: yellow;
    position: absolute;
    left: 100px;
    top: 100px;
    right: 100px;
    bottom: 100px;
}
