body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: " ";
    background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
    /* gera um gradiente, sendo os comandos: angulo, primeira cor, segunda cor */
    width: 90%;
    height: 5px;
    position: absolute;
    /* se o elemento filho é posicionado de modo absoluto, o elemento pai deve estar posicionado relativo */
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
    /* transformação usando css, onde translação no eixo horizontal e inclinação */
}

td {
    border: solid 1px gray;
    padding: 5px;
}

table {
    border-collapse: collapse;
    display: inline-block;
}


/* primeiro elemento tr dentro de uma tabela - 1 contando do primeiro ao ultimo
table tr:nth-child(1) {
    background-color: aliceblue;
}

 ultimo elemento tr dentro de uma tabela - 1 contando do ultimo para o primeiro
table tr:nth-last-child(1) {
    background-color: blue;
}

 terceiro elemento do tipo td na tabela
table td:nth-of-type(3) {
    background-color: rebeccapurple;
}*/

table tr:nth-child(even) {
    background-color: gainsboro;
}

table tr:nth-child(odd) {
    background-color: lightsalmon;
}