* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* BORDA E O PADDING SEREM CONSIDERADOS A LARGURA DO ELEMENTO */
}

main {
    display: flex;
    min-height: 60vh;
}

main > article {
    flex-grow: 1;
}

main > nav, main > aside {
    flex: 0 0 20vw;
    background-color: aquamarine;
}

header, footer {
    background-color: aqua;
    height: 20vh;
}

header, footer, article, nav, aside {
    padding: 20px;
}